@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap");
*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}
nav{
    display: flex;
    justify-content: center;
    
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
  }
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
  }
a{
    margin: 10px;
    text-decoration: none;
    color: black;

}
header{
    background-image: url("https://i.ibb.co/r2KQ8yW/men-gb84d631dd-1920.jpg");
    background-size: cover;
    padding: 230px;
    color: white;

}
h1{
    font-size: 6em;
    letter-spacing: 10px;
}
h2{
    font-size: 4em;
}
h3{
    font-size: 2em;
}
h4{
    font-size: 1.5em;
    font-weight: 400;
}
section p,img{
    padding: 10px;

}
#content{
    background-color:  #FAB201;
}
#about{
    background-color: #FB4F93;

}
#contact{
    background-color: #00C7DA;

}
img{
    border: 5px solid white;
}
.helpinghands{
    color: white;
    padding: 70px;
}
#dp{
    text-align: left;
    font-family: 'Balsamiq Sans', cursive;
}
#button{
   
    
    margin-left: 1cm;
    width: 150px;
    height: 60px;
    
    
}